html {
  font-size: 20px;
}
body {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*PAGE-WRAPPER*/
.pageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60rem;
}
/*HEADER*/
.header-container {
  width: 60em;
  /*HEADER-TOP-SECTION*/
  /*@media screen 992px*/
  /*HEADER-BOTTOM-SECTION*/
}
.header-container .menu {
  display: none;
}
.header-container .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-container .top-header .header-logo {
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .top-header .header-logo .logo {
  max-height: 2.5rem;
  cursor: pointer;
}
.header-container .top-header .search-form {
  width: 33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-container .top-header .search-form .searchbar {
  width: 28rem;
  height: 2.2rem;
  border: 1px solid #dcdcdc;
  padding: 0 1rem;
}
.header-container .top-header .search-form .search-btn {
  background-color: violet;
  height: 2.3rem;
  width: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
}
.header-container .top-header .search-form .search-btn .search-logo {
  height: 1.25rem;
}
.header-container .top-header .search-form .search-btn:hover {
  cursor: pointer;
}
.header-container .top-header .user-container {
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .top-header .user-container .user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  padding: 0;
}
.header-container .top-header .user-container .user-links .cart,
.header-container .top-header .user-container .user-links .favorite,
.header-container .top-header .user-container .user-links .account {
  height: 2rem;
  width: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-container .top-header .user-container .user-links .cart .user-spans,
.header-container .top-header .user-container .user-links .favorite .user-spans,
.header-container .top-header .user-container .user-links .account .user-spans {
  font-size: 0.5rem;
}
.header-container .top-header .user-container .user-links .cart .color-btn,
.header-container .top-header .user-container .user-links .favorite .color-btn,
.header-container .top-header .user-container .user-links .account .color-btn {
  color: violet;
  min-width: 2rem;
  min-height: 2rem;
}
.header-container .top-header .user-container .user-links .center-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .top-header .user-container .user-links .cart:hover,
.header-container .top-header .user-container .user-links .favorite:hover,
.header-container .top-header .user-container .user-links .account:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.1rem;
  -webkit-text-decoration-color: #f0f0f0;
          text-decoration-color: #f0f0f0;
}
.header-container .search-form-992 {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  pointer-events: none;
}
.header-container .search-form-992 .searchbar {
  width: 100%;
  height: 2.175rem;
  border: 1px solid #dcdcdc;
  padding: 0;
}
.header-container .search-form-992 .search-btn {
  background-color: violet;
  height: 2.3rem;
  width: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
}
.header-container .search-form-992 .search-btn .search-logo {
  height: 1.25rem;
}
.header-container .search-form-992 .search-btn:hover {
  cursor: pointer;
}
.header-container .bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .bottom-header .navbar {
  width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 0.25rem;
  background-color: #eeeaea;
  height: 2.5rem;
}
.header-container .bottom-header .navbar .navbar-links {
  cursor: pointer;
  color: white;
  border: 0.1rem solid transparent;
  padding: 0.5rem 0.25rem;
}
.header-container .bottom-header .navbar .navbar-links .navbar-links-anchor {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .bottom-header .navbar .navbar-links:hover {
  border-radius: 1.25rem;
  border: 0.1rem solid white;
  padding: 0.5rem 0.25rem;
}
/*MAIN-CONTENT*/
/*BANNER*/
.main-banner-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.main-banner-container .main-banner {
  width: 60rem;
}
/*FOOTER*/
.footer-container {
  width: 60rem;
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container .footer-top-992,
.footer-container .footer-support-992 {
  display: none;
}
.footer-container .footer-top-992 .footer-top-social-media-992 {
  display: none;
}
.footer-container .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60rem;
  padding: 0.5rem 0;
}
.footer-container .footer-top .footer-top-download {
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.footer-container .footer-top .footer-top-download .footer-top-download-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-top .footer-top-download .footer-top-download-anchor .google-download,
.footer-container .footer-top .footer-top-download .footer-top-download-anchor .apple-download {
  height: 2rem;
}
.footer-container .footer-top .footer-top-list-container {
  width: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-container .footer-top .footer-top-list-container .footer-top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1.5rem;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-top .footer-top-list-container .footer-top-list .underline-hover .footer-mobile-list .arrow {
  display: none;
}
.footer-container .footer-top .footer-top-list-container .footer-top-list .underline-hover:hover {
  text-decoration: underline;
}
.footer-container .footer-top .footer-top-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.5rem;
}
.footer-container .footer-top .footer-top-social-media .center-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-top .footer-top-social-media .center-logo .instagram-logo,
.footer-container .footer-top .footer-top-social-media .center-logo .facebook-logo {
  height: 2.5rem;
  width: 2.5rem;
}
.footer-container .footer-top .footer-top-social-media .center-logo .facebook-logo {
  color: #4267b2;
  border-radius: 0.5rem;
}
.footer-container .footer-top .footer-top-social-media .center-logo .instagram-logo {
  border-radius: 0.75rem;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.footer-container .footer-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0 2rem 0;
}
.footer-container .footer-mid .footer-mid-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-mid .footer-mid-support .support-mail,
.footer-container .footer-mid .footer-mid-support .support-questions {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid lightgray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}
.footer-container .footer-mid .footer-mid-support .support-mail .mail-logo,
.footer-container .footer-mid .footer-mid-support .support-questions .mail-logo,
.footer-container .footer-mid .footer-mid-support .support-mail .questions-logo,
.footer-container .footer-mid .footer-mid-support .support-questions .questions-logo {
  height: 1.5rem;
  width: 1.5rem;
  color: violet;
}
.footer-container .footer-mid .footer-mid-support .support-mail:hover,
.footer-container .footer-mid .footer-mid-support .support-questions:hover {
  text-decoration: underline;
}
.footer-container .footer-bottom {
  /*COPYRIGHT*/
}
.footer-container .footer-bottom .footer-bottom-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 0;
}
.footer-container .footer-bottom .footer-bottom-list .underline-hover .footer-mobile-list .arrow {
  display: none;
}
.footer-container .footer-bottom .footer-bottom-list .underline-hover:hover {
  text-decoration: underline;
}
.footer-container .footer-bottom .copyright {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-bottom .copyright .copyright-logo {
  color: violet;
  height: 1.25rem;
  width: 1.25rem;
}
/*NAVBAR@992*/
.categories-992-wrapper {
  display: none;
}
.categories-992-wrapper .navbar-toggle {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
  background-color: violet;
  gap: 5rem;
}
.categories-992-wrapper .navbar-toggle .menu-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18rem;
  cursor: auto;
}
.categories-992-wrapper .navbar-toggle .menu-bars .nav-close-btn {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}
.categories-992-wrapper .navbar-toggle .menu-bars .nav-close-btn:hover {
  color: black;
}
.categories-992-wrapper .menu {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
}
.categories-992-wrapper .menu:hover {
  cursor: pointer;
  background-color: #4d4d4d;
  color: white;
}
.categories-992-wrapper .nav-menu {
  background-color: white;
  width: 20rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  left: -200%;
  -webkit-transition: 1600ms;
  transition: 1600ms;
}
.categories-992-wrapper .nav-menu .nav-menu-categories {
  padding: 0;
  margin: 0;
}
.categories-992-wrapper .nav-menu.active {
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.nav-text {
  list-style: none;
  width: 20rem;
}
.nav-text .nav-hr {
  width: 18rem;
  margin: 0 1rem;
}
.nav-overlay {
  background-color: rgba(77, 77, 77, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.nav-overlay.active {
  z-index: 99;
  opacity: 1;
  -webkit-transition: 800ms;
  transition: 800ms;
  pointer-events: all;
}
.category-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.nav-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
h2 {
  text-align: center;
}
hr {
  width: 100%;
  color: #f0f0f0;
  opacity: 30%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
  .header-container .top-header .search-form .searchbar {
    height: 2.175rem;
  }
  .header-container .color-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .header-container .menu {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
  }
  .header-container .menu:hover {
    cursor: pointer;
    background-color: #4d4d4d;
    color: white;
  }
  .header-container .top-header .search-form {
    display: none;
    pointer-events: none;
  }
  .header-container .top-header .header-logo {
    width: 45%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1rem;
  }
  .header-container .top-header .user-container {
    width: 50%;
  }
  .header-container .top-header .user-container .user-links .account .color-btn,
  .header-container .top-header .user-container .user-links .favorite .color-btn,
  .header-container .top-header .user-container .user-links .cart .color-btn {
    height: 2rem;
    width: 2rem;
  }
  .header-container .top-header .user-container .user-links .account .user-spans,
  .header-container .top-header .user-container .user-links .favorite .user-spans,
  .header-container .top-header .user-container .user-links .cart .user-spans {
    display: none;
  }
  .header-container .search-form-992 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: all;
  }
  .header-container .search-form-992 .searchbar {
    padding: 0 1rem;
  }
  .header-container .bottom-header {
    display: none;
    pointer-events: none;
  }
  .footer-container {
    background-color: #4d4d4d;
  }
  .footer-container .footer-top-992 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5rem 1rem 5rem;
  }
  .footer-container .footer-top-992 .google-download,
  .footer-container .footer-top-992 .apple-download {
    height: 2.5rem;
  }
  .footer-container .footer-top-992 .footer-top-social-media-992 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  .footer-container .footer-top-992 .footer-top-social-media-992 .instagram-logo,
  .footer-container .footer-top-992 .footer-top-social-media-992 .facebook-logo {
    height: 2.5rem;
    width: 2.5rem;
    color: violet;
  }
  .footer-container .footer-top-992 .footer-top-social-media-992 .facebook-logo {
    color: #4267b2;
    border-radius: 0.5rem;
    background-color: white;
  }
  .footer-container .footer-top-992 .footer-top-social-media-992 .instagram-logo {
    border-radius: 0.75rem;
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  }
  .footer-container .footer-support-992 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5rem 1rem 5rem;
  }
  .footer-container .footer-support-992 .support-mail,
  .footer-container .footer-support-992 .support-questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1rem;
  }
  .footer-container .footer-support-992 .support-mail .mail-logo,
  .footer-container .footer-support-992 .support-questions .mail-logo,
  .footer-container .footer-support-992 .support-mail .questions-logo,
  .footer-container .footer-support-992 .support-questions .questions-logo {
    color: violet;
    height: 1.5rem;
    width: 1.5rem;
  }
  .footer-container .footer-support-992 .support-mail:hover,
  .footer-container .footer-support-992 .support-questions:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.1rem;
  }
  .footer-container .section-breaks {
    display: none;
  }
  .footer-container .footer-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
  }
  .footer-container .footer-top .footer-top-list-container {
    width: 60rem;
  }
  .footer-container .footer-top .footer-top-list-container .footer-top-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0rem 5rem;
    margin-top: 0;
    width: 50rem;
    gap: 0;
    background: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-bottom: 0;
    cursor: pointer;
  }
  .footer-container .footer-top .footer-top-list-container .footer-top-list .underline-hover {
    width: 48rem;
    padding: 1rem 1rem;
    border-bottom: 1px solid #4d4d4d;
  }
  .footer-container .footer-top .footer-top-list-container .footer-top-list .underline-hover .footer-mobile-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container .footer-top .footer-top-list-container .footer-top-list .underline-hover .footer-mobile-list .arrow {
    display: block;
  }
  .footer-container .footer-top .footer-top-download {
    display: none;
  }
  .footer-container .footer-top .footer-top-social-media {
    display: none;
  }
  .footer-container .footer-mid {
    display: none;
  }
  .footer-container .footer-bottom {
    background-color: #4d4d4d;
    width: 60rem;
  }
  .footer-container .footer-bottom .footer-bottom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0rem 5rem;
    margin-top: 0;
    width: 50rem;
    gap: 0;
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
  }
  .footer-container .footer-bottom .footer-bottom-list .underline-hover {
    width: 48rem;
    padding: 1rem 1rem;
    border-bottom: 1px solid #4d4d4d;
  }
  .footer-container .footer-bottom .footer-bottom-list .underline-hover .footer-mobile-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container .footer-bottom .footer-bottom-list .underline-hover .footer-mobile-list .arrow {
    display: block;
  }
  .footer-container .copyright {
    color: white;
  }
  h2 {
    display: none;
  }
  .categories-992-wrapper {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .main {
    width: 100vw;
  }
  .main .main-banner-container {
    width: 100vw;
  }
  .main .main-banner-container .main-banner {
    width: 100vw;
  }
  .pageWrapper {
    width: 100vw;
    margin: 0;
  }
  html,
  body {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
  }
  .header-container {
    width: 95vw;
  }
  .footer-container {
    width: 100vw;
  }
  .footer-container .footer-top-992 {
    padding: 0 5vw 1vw 5vw;
  }
  .footer-container .footer-support-992 {
    padding: 0 5vw 1vw 5vw;
  }
  .footer-container .footer-top {
    width: 90vw;
  }
  .footer-container .footer-top .footer-top-list-container {
    width: 90vw;
  }
  .footer-container .footer-top .footer-top-list-container .footer-top-list {
    width: 90vw;
    margin: 0 5vw;
  }
  .footer-container .footer-top .footer-top-list-container .footer-top-list .underline-hover {
    width: 90vw;
  }
  .footer-container .footer-top .footer-top-list-container .footer-top-list .underline-hover .footer-mobile-list {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .footer-container .footer-bottom {
    width: 90vw;
  }
  .footer-container .footer-bottom .footer-bottom-list {
    width: 90vw;
    margin: 0 5vw;
  }
  .footer-container .footer-bottom .footer-bottom-list .underline-hover {
    width: 90vw;
  }
  .footer-container .footer-bottom .footer-bottom-list .underline-hover .footer-mobile-list {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .footer-container .footer-bottom .copyright {
    width: 100vw;
  }
}
